<div class="flex flex-col min-h-screen min-w-screen p-5 justify-center items-center bg-base-300">
  <h1 class="text-2xl sm:text-5xl font-bold text-base-content text-center mb-10">
    Class Monitoring and Key Inventory System
  </h1>
  <div class="flex h-full w-full items-center justify-center">
    <div
      class="flex flex-col w-[400px] shadow-xl rounded-lg p-10 bg-base-100 border-8 border-dashed border-base-content">
      <h1 class="text-2xl font-bold text-base-content text-center">
        Login Page
      </h1>
      <form class="flex flex-col gap-4 mt-10">
        <div class="flex form-control w-full max-w-xs">
          <label class="label">
            <span class="label-text">Email Address</span>
          </label>
          <input type="text" placeholder="Type here" class="input input-bordered w-full max-w-xs" />
        </div>
        <div class="flex form-control w-full max-w-xs">
          <label class="label">
            <span class="label-text">Password</span>
          </label>

          <input type="password" placeholder="Type here" class="input input-bordered w-full max-w-xs" />
        </div>

        <button class="mt-4 btn btn-neutral text-neutral-content gap-4">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15m3 0l3-3m0 0l-3-3m3 3H9" />
          </svg>
          Login</button>
      </form>
    </div>
  </div>
</div>
