<div class="h-full">
  <div class="overflow-x-auto">
    <table class="table table-compact w-full text-center">
      <thead>
        <tr>
          <th></th>
          <th>First Name</th>
          <th>Middle Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let faculty of facultyUsers$ | async">
          <th>{{faculty.id}}</th>
          <td>{{faculty.first_name}}</td>
          <td>{{faculty.middle_name}}</td>
          <td>{{faculty.last_name}}</td>
          <td>{{faculty.email}}</td>
          <td>
            <a [routerLink]="getLink(faculty?.id ?? -1)"  class="btn btn-sm">View Schedules</a>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th></th>
          <th>First Name</th>
          <th>Middle Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Action</th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
