<div class="h-full">
  <div class="overflow-x-auto">
    <table class="table table-compact w-full text-center">
      <thead>
        <tr>
          <th></th>
          <th>First Name</th>
          <th>Middle Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>1</th>
          <td>Cy Ganderton</td>
          <td>Quality Control Specialist</td>
          <td>Littel, Schaden and Vandervort</td>
          <td>Canada</td>
          <td>
            <a [routerLink]="'/faculties/1'"  class="btn btn-sm">View Schedules</a>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th></th>
          <th>First Name</th>
          <th>Middle Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Action</th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
