<div class="drawer">
  <input id="my-drawer-3" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content flex flex-col">
    <!-- Navbar -->
    <div class="w-full navbar bg-base-100">
      <div class="flex-none lg:hidden">
        <label for="my-drawer-3" class="btn btn-square btn-ghost">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
            class="inline-block w-6 h-6 stroke-current">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
          </svg>
        </label>
      </div>
      <div class="navbar-start flex font-bold px-2 mx-2">
        <img src="assets/icons/CICT.png" alt="logo" class="w-10 h-10 rounded-full mr-2">
        CICT - CMKIS
      </div>
      <div
        class="hidden lg:block navbar-center shadow-md shadow-gray-500 rounded-lg border border-neutral overflow-clip items-center">
        <ul class="menu menu-horizontal">
          <!-- Navbar menu content here -->
          <li [routerLinkActive]="'text-primary-content bg-primary'" *ngFor="let menu of navBarItems">
            <a class="btn btn-ghost" [routerLink]="menu.link">{{ menu.label }}</a>
          </li>
        </ul>
      </div>
      <div class="navbar-end">
        <a class="btn btn-ghost" href="/profile">Profile</a>
        <a class="btn btn-ghost" href="/logout">Logout</a>
      </div>
    </div>
    <div class="mt-5">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="drawer-side">
    <label for="my-drawer-3" class="drawer-overlay"></label>
    <ul class="menu p-4 w-80 bg-base-100">
      <li>
        <a class="font-bold text-start">
            <img src="assets/icons/CICT.png" alt="logo" class="w-10 h-10 rounded-full mr-2">
            CICT - CMKIS
        </a>
      </li>
      <li [routerLinkActive]="'text-primary'" *ngFor="let menu of navBarItems">
        <a class="font-bold text-start" [routerLink]="menu.link">{{ menu.label }}</a>
      </li>
      <li class="mt-auto">
        <a class="font-bold text-start" href="/profile">Profile</a>
        <a class="font-bold text-start" href="/logout">Logout</a>
      </li>
    </ul>

  </div>
</div>
