<div class="h-full">
  <a [routerLink]="'/faculties'" class="btn btn-ghost btn-sm">Back</a>
  <div class="form-control py-2 max-w-xs mx-auto">
    <select class="select select-bordered w-full" (change)="setFilteredSemester(filter.value)" #filter>
      <option disabled selected>Select Semester</option>
      <option value="">All</option>
      <option value="1st semester">1st Semester</option>
      <option value="2nd semester">2nd Semester</option>
    </select>
  </div>
  <div class="flex flex-row items-center justify-between">
    <button class="ml-auto btn btn-sm" (click)="openCreateScheduleModal()">Create Schedule</button>
  </div>
  <div class="overflow-x-auto">
    <table class="table table-compact w-full text-center">
      <thead>
        <tr>
          <th></th>
          <th>Semester</th>
          <th>Day</th>
          <th>Start Time</th>
          <th>End Time</th>
          <th>Section</th>
          <th>Subject</th>
          <th>Room</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let schedule of filteredSchedules$ | async">
          <th>{{schedule.id}}</th>
          <td>{{schedule.semester}}</td>
          <td>{{schedule.day}}</td>
          <td>{{schedule.start_time}}</td>
          <td>{{schedule.end_time}}</td>
          <td>{{schedule.section}}</td>
          <td>{{schedule.subject}}</td>
          <td>{{schedule.room}}</td>
          <td class="space-x-2">
            <button class="btn btn-sm" (click)="openEditScheduleModal(schedule?.id ?? -1)">Edit</button>
            <button class="btn btn-sm" (click)="openArchiveScheduleModal(schedule?.id ?? -1)">Delete</button>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th></th>
          <th>Semester</th>
          <th>Date</th>
          <th>Start Time</th>
          <th>End Time</th>
          <th>Section</th>
          <th>Subject</th>
          <th>Room</th>
          <th>Action</th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>

<!-- Create Schedule -->
<div class="modal modal-bottom sm:modal-middle" [ngClass]="{'modal-open': createScheduleModalState}">
  <div class="modal-box">
    <h3 class="font-bold text-lg">Create Schedule</h3>
    <form [formGroup]="form">
      <div class="mt-5">
        <div class="form-control py-2 max-w-xs mx-auto">
          <select class="select select-bordered w-full" formControlName="day">
            <option disabled selected>Select Day</option>
            <option value="sunday">Sunday</option>
            <option value="monday">Monday</option>
            <option value="tuesday">Tuesday</option>
            <option value="wednesday">Wednesday</option>
            <option value="thursday">Thursday</option>
            <option value="friday">Friday</option>
            <option value="saturday">Saturday</option>
          </select>
        </div>
        <div class="form-control py-2 max-w-xs mx-auto">
          <input type="time" class="input input-bordered" placeholder="Start Time" formControlName="start_time" />
        </div>
        <div class="form-control py-2 max-w-xs mx-auto">
          <input type="time" class="input input-bordered" placeholder="End Time" formControlName="end_time" />
        </div>
        <div class="form-control py-2 max-w-xs mx-auto">
          <select class="select select-bordered w-full" formControlName="semester">
            <option disabled selected>Select Semester</option>
            <option value="1st semester">1st Semester</option>
            <option value="2nd semester">2nd Semester</option>
          </select>
        </div>
        <div class="form-control py-2 max-w-xs mx-auto">
          <select class="select select-bordered w-full" formControlName="section">
            <option disabled selected>Select Section</option>
            <option *ngFor="let section of sections$ | async" [value]="section.name">{{section.name}}</option>
          </select>
        </div>
        <div class="form-control py-2 max-w-xs mx-auto">
          <select class="select select-bordered w-full" formControlName="subject">
            <option disabled selected>Select Subject</option>
            <option *ngFor="let subject of subjects$ | async" [value]="subject.name">{{subject.name}}</option>
          </select>
        </div>
        <div class="form-control py-2 max-w-xs mx-auto">
          <select class="select select-bordered w-full" formControlName="room">
            <option disabled selected>Select Room</option>
            <option *ngFor="let room of rooms$ | async" [value]="room.room_name">{{room.room_name}}</option>
          </select>
        </div>
      </div>
    </form>
    <div class="modal-action">
      <button class="btn" (click)="onSubmitCreateSchedule()">Confirm</button>
      <button class="btn btn-ghost" (click)="closeCreateScheduleModal()">Close</button>
    </div>
  </div>
</div>

<!-- Edit Schedule -->
<div class="modal modal-bottom sm:modal-middle" [ngClass]="{'modal-open': editScheduleModalState}">
  <div class="modal-box">
    <h3 class="font-bold text-lg">Edit Schedule</h3>
    <form [formGroup]="form">
      <div class="mt-5">
        <div class="form-control py-2 max-w-xs mx-auto">
          <select class="select select-bordered w-full" formControlName="day">
            <option disabled selected>Select Day</option>
            <option value="sunday">Sunday</option>
            <option value="monday">Monday</option>
            <option value="tuesday">Tuesday</option>
            <option value="wednesday">Wednesday</option>
            <option value="thursday">Thursday</option>
            <option value="friday">Friday</option>
            <option value="saturday">Saturday</option>
          </select>
        </div>
        <div class="form-control py-2 max-w-xs mx-auto">
          <input type="time" class="input input-bordered" placeholder="Start Time" formControlName="start_time" step="900" />
        </div>
        <div class="form-control py-2 max-w-xs mx-auto">
          <input type="time" class="input input-bordered" placeholder="End Time" formControlName="end_time" step="900" />
        </div>
        <div class="form-control py-2 max-w-xs mx-auto">
          <select class="select select-bordered w-full" formControlName="semester">
            <option disabled selected>Select Semester</option>
            <option value="1st semester">1st Semester</option>
            <option value="2nd semester">2nd Semester</option>
          </select>
        </div>
        <div class="form-control py-2 max-w-xs mx-auto">
          <select class="select select-bordered w-full" formControlName="section">
            <option disabled selected>Select Section</option>
            <option *ngFor="let section of sections$ | async" [value]="section.name">{{section.name}}</option>
          </select>
        </div>
        <div class="form-control py-2 max-w-xs mx-auto">
          <select class="select select-bordered w-full" formControlName="subject">
            <option disabled selected>Select Subject</option>
            <option *ngFor="let subject of subjects$ | async" [value]="subject.name">{{subject.name}}</option>
          </select>
        </div>
        <div class="form-control py-2 max-w-xs mx-auto">
          <select class="select select-bordered w-full" formControlName="room">
            <option disabled selected>Select Room</option>
            <option *ngFor="let room of rooms$ | async" [value]="room.room_name">{{room.room_name}}</option>
          </select>
        </div>
      </div>
    </form>
    <div class="modal-action">
      <button class="btn" (click)="onSubmitEditSchedule()">Confirm</button>
      <button class="btn btn-ghost" (click)="closeEditScheduleModal()">Close</button>
    </div>
  </div>
</div>


<!-- Archive Schedule -->
<div class="modal modal-bottom sm:modal-middle" [ngClass]="{'modal-open': archiveScheduleModalState}">
  <div class="modal-box">
    <h3 class="font-bold text-lg">Delete Schedule</h3>
    <p class="text-base mt-2">Are you sure you want to delete this schedule?</p>
    <div class="modal-action">
      <button class="btn" (click)="onSubmitArchiveSchedule()">Confirm</button>
      <button class="btn btn-ghost" (click)="closeArchiveScheduleModal()">Close</button>
    </div>
  </div>
</div>
