<div class="h-full p-5">
  <div class="flex flow-row flex-wrap gap-5 justify-center">
    <div class="stats shadow-lg text-center">
      <div class="stat">
        <div class="stat-title">Total Users</div>
        <div class="stat-value text-neutral">8</div>
      </div>

      <div class="stat">
        <div class="stat-title">Attendance Checker</div>
        <div class="stat-value text-neutral">3</div>
      </div>

      <div class="stat">
        <div class="stat-title">Faculty</div>
        <div class="stat-value text-neutral">5</div>
      </div>

      <div class="stat">
        <div class="stat-title">Archived</div>
        <div class="stat-value text-neutral">1</div>
      </div>
    </div>
    <div class="stats shadow-lg text-center">
      <div class="stat">
        <div class="stat-title">Sections</div>
        <div class="stat-value text-neutral">8</div>
      </div>

      <div class="stat">
        <div class="stat-title">Subjects</div>
        <div class="stat-value text-neutral">3</div>
      </div>

      <div class="stat">
        <div class="stat-title">Rooms</div>
        <div class="stat-value text-neutral">5</div>
      </div>
    </div>

    <div class="stats shadow-lg text-center">
      <div class="stat">
        <div class="stat-title">Active Schedule Today</div>
        <div class="stat-value text-neutral">8</div>
      </div>

      <div class="stat">
        <div class="stat-title">Still not visited</div>
        <div class="stat-value text-neutral">3</div>
      </div>
    </div>
  </div>
</div>
