<div class="h-full p-5">
  <div class="flex flow-row flex-wrap gap-5 justify-center w-[800px] mx-auto">
    <div class="stats shadow-lg text-center">
      <div class="stat">
        <div class="stat-title">Total Users</div>
        <div class="stat-value text-base-content">{{totalUsers}}</div>
      </div>

      <div class="stat">
        <div class="stat-title">Admin</div>
        <div class="stat-value text-base-content">{{admin}}</div>
      </div>

      <div class="stat">
        <div class="stat-title">Attendance Checker</div>
        <div class="stat-value text-base-content">{{attendanceChecker}}</div>
      </div>

      <div class="stat">
        <div class="stat-title">Faculty</div>
        <div class="stat-value text-base-content">{{faculty}}</div>
      </div>

      <div class="stat">
        <div class="stat-title">Archived</div>
        <div class="stat-value text-base-content">{{archivedUser}}</div>
      </div>
    </div>
    <div class="stats shadow-lg text-center">
      <div class="stat">
        <div class="stat-title">Sections</div>
        <div class="stat-value text-base-content">{{sections}}</div>
      </div>

      <div class="stat">
        <div class="stat-title">Subjects</div>
        <div class="stat-value text-base-content">{{subjects}}</div>
      </div>

      <div class="stat">
        <div class="stat-title">Rooms</div>
        <div class="stat-value text-base-content">{{rooms}}</div>
      </div>
    </div>

    <div class="stats shadow-lg text-center">
      <div class="stat">
        <div class="stat-title">Active Schedule Today</div>
        <div class="stat-value text-base-content">{{activeSchedules}}</div>
      </div>

      <div class="stat">
        <div class="stat-title">Still not visited</div>
        <div class="stat-value text-base-content">{{notVisited}}</div>
      </div>
    </div>
  </div>
</div>
