<div class="flex flex-col min-h-screen min-w-screen p-5 justify-center items-center bg-base-300 bg-[url('/assets/bulsu-main-gate.jpg')] bg-blend-multiply">
  <div class="flex h-full w-full items-center justify-center">
    <div
      class="flex flex-col w-[400px] shadow-xl rounded-lg p-10 bg-base-100 shadow-neutral-focus">
      <h1 class="text-2xl font-bold text-base-content text-center">
        Forgot Password
      </h1>
      <form class="flex flex-col gap-4 mt-10" [formGroup]="form">
        <div class="flex form-control w-full max-w-xs">
          <label class="label">
            <span class="label-text">Email Address</span>
          </label>
          <input type="text" placeholder="Type here" class="input input-bordered w-full max-w-xs" formControlName="email" />
        </div>
        <button class="mt-4 btn btn-neutral text-neutral-content gap-4" (click)="onSubmit()">Request Reset Password</button>
        <button class="mt-4 btn btn-ghost text-base-content gap-4" [routerLink]="'/login'">Back</button>
      </form>
    </div>
  </div>
</div>
